
table{
    border: 5px solid black;
}
#stockreport th{
    font-size: 18px;
}
.tablelink{
    text-decoration: none;
    font-size: 16px;
color: #104c70;
font-weight: 500;
}
.modalTitle{
    color: #104c70;
}
.modalBody{
    font-weight: 500;
}